*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg-primary: black;
  --color-bg-second: #444;
  --color-text-primary: white;
  --color-text-second: #a9fff8;
  --color-accent-1: red;
  --color-accent-2: cyan;
  --color-accent-3: rgb(136, 255, 0);
}

body {
  font-family: 'Michroma', Arial, sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

#hero {
    height: 100vh;
    /* linear-gradient(90deg, rgba(0,0,0,0.7) 18%, rgba(0,0,0,0.2) 62%, rgba(0,0,0,1) 100%) */
    background: #000000BB url(https://images.unsplash.com/photo-1518734121739-7550d2c027f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-blend-mode: darken;
    border-bottom: 0.3rem solid var(--color-accent-1);
    padding: 2rem;
}

#hero p {
    margin-bottom: 1rem;
    font-family: 'JetBrains Mono', monospace;
    font-size: 160%;
    background-color: #000;
    width: fit-content;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-bg-primary);
  border-bottom: 2px solid var(--color-text-primary);
  margin-bottom: 2rem;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-size: min(18vw, 10rem);
    text-align: center;
    text-shadow: -0.7vw -0.7vw var(--color-accent-2), 0.5vw 0.7vw var(--color-accent-1);
}

h1 a, h1 a:visited, h1 a:hover, h1 a:active {
  color: inherit;
  text-decoration: none;
}

.subtitle {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Orbitron', monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 140%;
    border-bottom: 0.3rem solid var(--color-accent-2)
}

#nav-bar {
  margin: 0 0.5rem 0;
}

#nav-bar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 0.5rem;
  list-style-type: none;
  font-weight: bold;
}

#nav-bar a, #nav-bar a:visited {
  color: inherit;
  text-decoration: none;
}

#nav-bar a:hover, #nav-bar a:active {
  color: var(--color-bg-primary);
  background-color: var(--color-text-primary);
}

#nav-bar a:hover::before {
  content: "> ";
}

.icon {
  height: 1.8rem;
  width: 1.8rem;
}

main {
    padding: 2rem;
}

section {
  margin-bottom: 5rem;
}

h2 {
  font-family: 'Orbitron', monospace;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem 0 1rem;
  border-bottom: 2px solid var(--color-accent-2);
  width: min-content;
}

main p {
  margin-bottom: 1rem;
}

main a, main a:visited {
  color: inherit;
  font-weight: bold;
}

main a:hover, footer a:hover {
  color: var(--color-accent-1)
}

main a:active, footer a:active {
  color: var(--color-accent-2)
}

main a:hover::before, footer a:hover::before {
  content: "> ";
}

#chars {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  justify-content: center;

}

.char {
  max-width: 25rem;
  padding: 1rem;
  border: 1px solid var(--color-text-primary);
  font-family: 'JetBrains Mono', monospace;
}

.char-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.char-name {
  text-transform: uppercase;
  font-family: 'Orbitron', monospace;
  font-size: 125%;
  margin: auto;
  text-align: center;
}

/* referenced from w3schools: https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
#iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* this line functionally sets the height of the video */
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

hr {
  border: solid 1px var(--color-accent-1);
  width: 70vw;
  margin: 2rem auto 2rem;
}

hr:nth-of-type(2) {
  border: solid 1px var(--color-accent-2);
}

#subscribe {
  height: 14rem;
}

#form-heading {
  font-size: 150%;
  text-align: center;
  margin-bottom: 2rem;
}

#form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#email {
  font-size: 120%;
  padding: 0.2rem;
  font-family: 'JetBrains Mono', monospace;
}

#submit {
  font-size: 130%;
  padding: 0.2rem;
  font-family: 'Orbitron', monospace;
  background-color: white;
  border: none;
  border-radius: 0;
}

footer {
  text-align: center;
  margin-bottom: 3rem;
}

footer a, footer a:visited {
  color: var(--color-accent-1);
  font-weight: bold;
}

/* utility classes */

.caps {
  text-transform: uppercase;
}


/* @media */

@media screen and (min-width: 800px) {
  #chars {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
  }

  main p {
    max-width: 1000px;
    margin: auto;
  }

@media screen and (min-width: 500px) {
  #form {
    flex-flow: row nowrap;
  }
  
  #email {
    width: 65vw;
    font-size: 150%;
    padding: 0.2rem;
    font-family: 'JetBrains Mono', monospace;
  }
  
  #submit {
    font-size: 170%;
    padding: 0.2rem;
    font-family: 'Orbitron', monospace;
}